@media (min-width:768px) {
.repair-equipment{
    padding-bottom: 24px;
    height: 322px;

    .header-repair-equipment{
        padding-left: 24px;
        height: 56px;    
    }
    .repair {
        padding-top: 24px;
        padding-left: 24px;

        .repair-list{
            flex-wrap: wrap;
            justify-content: start;
            gap:20px;
            column-gap: 20px;
            overflow: hidden;
            height: 180px;
            
            .repair-list__item{
                width: 224px;
                
                .repair-list__link{
                    background-position: 170px 100px;
                    width: 224px;  
                } 
            }
        }
    }
    
    .repair-button {
        display: flex;
        padding-left: 24px;
        width: auto;
    }
}
}
 


@media (min-width:1440px) {

.repair-equipment{
    
    .header-repair-equipment{
        padding-left: 32px;  
    }

    .repair{
        //padding-right: 32px;
        padding-left: 32px; 

        .repair-list{
            column-gap: 32px;

            .repair-list__item{
                width: 240px;
                
                .repair-list__link{
                    background-position: 180px 100px;
                    width: 240px;
                } 
            }
        }
    }
    .repair-button {
        padding-left: 32px;

    }
}
}
