.repair-equipment {
  background: var(--color-smoky-white);
  height: 322px;
  width: 100% ;
 
  .repair::before{
    content: '';
    background: linear-gradient(270deg, var(--color-smoky-white) 16.84%, var(--color-black-rgba) 100%);
    width: 24px ;
    height: 166px;
    background-repeat: no-repeat;
    background-position: right top;
   position: absolute;
    right: 0;
    z-index: 2;
  }

  .repair {
    overflow: hidden;
    padding-top: 20px;
    position: relative;
    
    .repair-list {
      display: flex;
      height: 220px;
      min-width: 0;
      
      .repair-list__item {
        width: 240px;
        height: 160px ;

        .repair-list__link {
          display: flex;
          align-items: start;
          border: 1px solid var(--color-smoky-white-alt);
          background-image: url(../img/5.1/background/go.png);
          background-repeat: no-repeat;
          background-position: 180px 100px;
          width: 240px;
          height: 160px ;
          padding: 16px;
          border-radius: 10px;
          background-color: var(--color-white) ;
          box-sizing: border-box;
          min-width: 0;
          font-weight: 16px;
          color: var(--color-black);
        }
      }
    }
    .swiper-pagination-bullet {
      background: var(--color-blue-crayola);
      width: 12px;
      height: 12px;
    }
    
    
      .swiper-pagination {
      top: 205px;
      z-index:0;
      }
  }
  
  .repair-button {
    display: none;
    width: 134px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    padding: 0;
    .repair-button-style {
      background: url(../img/5.1/background/expand.png);
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      transition-property: rotate();
      transition-duration: 0.5s;
    }
    .repair-button__text {
    }
  }
}
 
