@media (min-width:768px) {
    
    .left-menu {
        width: 320px;
        min-height: 750px;
        height: 100%;
        box-shadow:
        16px 0px 52px 0px #0e185033,
        -2px 0px 4px 0px #454f7e05;
    }
}


@media (min-width:1440px) {
    
    body{
        display: grid;
        grid-template-areas: 'left-menu desk';
    }

    .left-menu {
            grid-area: left-menu;
            display: flex;
            position: static;
            box-shadow: none;
            
            .buttons-cross{
            display: none;
            }
    }
    .desk{
        grid-area: desk;
    }
   
}