@media (min-width:768px) {
html{
  main{
  
    .prices-services {
      height: auto;
      .header-prices-services  {
        .header-prices-services__title {
        }
      }
      .services {
        overflow:visible;

        .services-list {
          height: auto;

          .price-items{
              width: auto;    
              height: auto;  
              display: grid;
              align-content: center;
              grid-template-columns: 3fr 1fr 1fr 1fr ;
              grid-template-rows: 1fr;    
              grid-template-areas: 
              "serv-cat-item price-item time-item price-lnk "; 
              
              .serv-cat, .price, .time {
                display: none;
              }                       
          }

          .price-desc{
            width: auto;
            padding: 14px;
            display: grid;    
            grid-template-columns: 3fr 1fr 1fr 1fr ;
            grid-template-rows: 1fr;
            grid-template-areas: "serv-cat price time";                                           
          }

          .price-items:not(:last-child)::before {
            content: "";
            z-index: 1;
            position: relative;
            width:200%;
            height: 1px;
            top: 16px;
            left: 0px;
            border-bottom: 1px solid rgba(234, 234, 234, 1); 
          }

        
        .serv-cat{
            grid-area: serv-cat;
        }
        
        .price {
            grid-area: price;
        }
        
        .time {
            grid-area: time;
        }
        .price-lnk{ 
          align-self: self-end;
        }
      }     
    }
    
    .prices-services-text{
      width: 421px;
      padding-top: 30px;     
    }
    
    .offer__button {
      width: auto;
      padding: 0;

      .offer__button--style {
      }
      .offer__button__text {
      }
    }
    }
  }
  
}
}
