@media (min-width:768px) {
.services-software{
    padding-bottom: 24px;
    height: 322px;

    .header-services-software{
        padding-left: 24px;
        height: 56px;     
    }

    .brands{
        padding-left: 24px;
        padding-top: 24px;

        .brands-list{
            flex-wrap: wrap;
            justify-content: start;
            gap:20px;
            column-gap: 20px;
            //overflow: hidden;
            height: 180px;  

            .brands-list__item {
                width: 224px;
                height: 72px;

                .brands-list__link{
                    background-position: 160px 15px;
                    width: 224px;
                    height: 72px;
                } 
            }
        }  
    }

    .brands__button{
        display: flex;
        padding-left: 24px;
        width:auto;
    }
}
}

@media (min-width:1120px) {

.services-software{

    .header-services-software{
        padding-left: 32px;    
    }

    .brands{
        //padding-right: 32px;
        padding-left: 32px; 

        .brands-list{
            column-gap: 32px;

            .brands-list__item{
                width: 240px;
                height: 72px;

                .brands-list__link{
                    background-position: 180px 15px;
                    width: 240px;
                    height: 72px;
                } 
            }
        } 
    } 
    .brands__button{
        padding-left: 32px;
    }    
}
}
