:root{
    --color-white: #ffffff;
    --color-white-alt:#d9fff5;
    --color-smoky-white: #f8f8f8;
    --color-smoky-white-alt:#eaeaea;
    --color-aquamarine :#41f6d7;
    --color-blue-crayola:#b5b6bc;
    --color-grey: #7e7e82;
    --color-black: #1b1c21;
    --color-red:rgba(255, 62, 121, 1);
    
}