@media (min-width:768px) {
     
    .right-menu-feedback{
        right: 0;
        z-index: 2;
    }
}

@media (min-width:1440px) {
 
    .right-menu-feedback {
        width: 440px;
        border-left: 1px solid var(--color-white-alt);
        padding:20px;
    }
    .buttons-cross{
        position: fixed;
        right:460px;
        top:35px;
        z-index: 1;
    }
}