@media (min-width:768px) {
    
    body{

     
    
    .right-menu-feedback{
        width: 320px;
        height: 100%;
        right: 0;
        box-shadow: 
        16px 0px 52px 0px rgba(14, 24, 80, 0.2),
        2px 0px 4px 0px rgba(69, 79, 126, 0.02);
        z-index: 2;

    }

    


    }

}
