.right-menu-feedback {
    min-width: 320px;
    min-height: 750px;
    height: 100%;
    box-shadow: 
    16px 0px 52px 0px #0e185033,
    -2px 0px 4px 0px #454f7e05;
    color: #1b1c21;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap:20px;
    position:fixed;
    //right: 0px;
    top: 0px;
    z-index: 3;
    background-color: #FFFFFF;
    
      .header-right-menu-feedback {
        }

        .right-menu-feedback-title{
          padding: 15px; 
        }
        
        .right-menu-feedback-title::before {
          content: '';
          border-radius: 0px 6px 6px 0px;
          position: absolute;
          left: 0;
          width: 4px;
          height: 32px;
          border: 2px solid #41f6d7;
          background-color: #41f6d7;
        }

        .right-menu-feedback-tel, 
        .right-menu-feedback-name,
        .right-menu-feedback-email,
        .right-menu-feedback-message
        {
          padding-left: 15px;
          width: 288px;
          height: 48px;
          border: 1px solid #EAEAEA;
          border-radius: 6px;
          color: #B5B6BC;
        }

        .right-menu-feedback-text--style{
          color: red ;
        }
        
        .right-menu-feedback-link{
          display: inline-block;
          width: 136px;
          height: 32px;
          background-image: url(/src/img/6.1/background/send.png);
          background-repeat: no-repeat;
          align-self: end;
        }
    }
    .right-menu-feedback-hidden{
      display: none;
    }
    
        
     
    
  
  