.right-menu-feedback {
    width: 320px;
    min-width: 320px;
    min-height: 750px;
    height: 100%;
    box-shadow: 
    16px 0px 52px 0px #0e185033,
    -2px 0px 4px 0px #454f7e05;
    color: var(--color-black);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap:20px;
    position:fixed;
    top: 0px;
    z-index: 3;
    background-color: var(--color-white);
        
        .right-menu-feedback-title::before {
          content: '';
          border-radius: 0px 6px 6px 0px;
          position: absolute;
          left: 0;
          width: 4px;
          height: 32px;
          border: 2px solid var(--color-aquamarine);
          background-color: var(--color-aquamarine);
        }

        .form-right-menu-feedback{
          display: flex;
          flex-direction: column;
          gap:20px;


          .right-menu-input {
            padding-left: 15px;
            width: 288px;
            height: 48px;
            border: 1px solid var(--color-smoky-white-alt);
            border-radius: 6px;
            color: var(--color-blue-crayola);
          }

          .right-menu-feedback-text__style {
            color: var(--color-red);
          }
          
          .right-menu-feedback-link{
            display: inline-block;
            width: 136px;
            height: 32px;
            background-image: url(../img/6.1/background/send.png);
            background-repeat: no-repeat;
            align-self: end;
          }
      }
    }
    .right-menu-feedback-hidden{
      display: none;
    }
    
        
     
    
  
  